* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #6e7c7c; 
}

ul {
    list-style: none;
}

.contenedorPrincipal {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
/* Header */

header {
    height: 400px;
    background: url("../Imatges/Fonscapçalera.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Navegacio */

.navegacioHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    width: 100px;
}

.navegacioHeader img {
    margin-left: 20px;
}

.navegacioHeader ul{
    display: flex;
    font-size: 0.8rem;
}

.navegacioHeader ul li {
    padding: 10px;
}

.navegacioHeader ul li a:hover {
    border-bottom: 2px solid #6e7c7c;
}

.navegacioHeader ul.menu {
    flex: 1;
    margin-left: 100px;
}

.navegacioHeader p {
    margin-right: 100px;
    padding: 20px 0;
}

/* Titol */

.titol {
    text-align: center;
    color: #f29191;
    opacity: .7;
    background-color: #d1d9d9;
    margin: 0 20px;
    padding: 50px 0;
    font-family: 'Times New Roman', Times, serif;
    
}


.seccions {
    
    display: flex;

}

.articles {
    background-color: #a7bbc7;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
    padding: 5px 5px 10px 5px;
    
    
}

.articles img {
    width: 100%;
    height: 250px;
    

}

.contenedorimg {
    position: relative;
    display: inline-block;
    margin: 5px 5px 0px 5px;
}

.text {
    position: absolute;
    bottom: 0px;
    padding: 0px 5px;
    color: #e1e5ea;
    font-weight: 700;
    font-size: .9rem;
}

.articles p {
    padding: 15px;
    margin-top: -5px;
    background-color: #e1e5ea;
}

.articles a {
    margin-left: 10px;
    margin-bottom: 10px;
}

.articles h3 {
    color: #e1e5ea;
    background: #e84545;
    font-weight: 700;
    padding: 15px 0px 0px 5px;
    font-size: 20px; 
    margin: -5px 5px;
    bottom: -20px;
    
}

.article {
    background-color: #e1e5ea;
    flex: 1 1 40%;
    margin: 5px;
    padding: 0px;
    
}

.navegacioArticles {
    background-color: #8fd6e1;
    flex: 1 1 100%;
    padding: 10px;
    margin: 10px;
}

.aside {
    background-color: #5b8a72;
    flex: 1 1 auto;
    padding: 10px;
    margin: 10px;
}

.publicitat {
    background-color: #bfcba8;
    padding: 10px;
    margin: 10px;
}

.footer {
    background-color: #393e46;
    padding: 10px;
    margin: 10px;
}

.navegacioFooter {
    background-color: #ffb037;
    padding: 10px;
    margin: 10px;
}

@media (max-width: 1024px) {
  
    /* Per a tablets */

    .seccions {
        background-color: #e6dd3b;
        display: flex;
        flex-flow: column nowrap;
    }
    
  }

  @media  (max-width: 767px) {
  
    /* Per a movils */

    .navegacioHeader {
        display: flex;
        flex-direction: column;
    }

    .articles {
        background-color: #53354a;
    }

    .article {
        background-color: #903749;
    }

    .navegacioArticles {
        background-color: #e84545;
    }

    .aside {
        background-color: #966c3b;
    }

    .publicitat {
        background-color: #d0af84;
    }

    .titol {

        padding: 15px 0;
        
    }
    
  }
  